# F1C100S default configuration
CONFIG_CHIP=f1c100s
CONFIG_CPU=arm926ejs

# Boot sources
CONFIG_BOOT_SDCARD=y
CONFIG_BOOT_MMC=n
CONFIG_BOOT_SPINAND=n

# Memory
CONFIG_RAM_BASE=0x80000000
CONFIG_FEL_RAM_BASE=0x80010000

# Debug
CONFIG_LOG_LEVEL=30
