# T113S3 default configuration
CONFIG_CHIP=t113s3
CONFIG_CPU=cortex-a7

# Boot sources
CONFIG_BOOT_SDCARD=y
CONFIG_BOOT_MMC=y
CONFIG_BOOT_SPINAND=y

# Memory
CONFIG_RAM_BASE=0x00020000
CONFIG_FEL_RAM_BASE=0x00030000

# Debug
CONFIG_LOG_LEVEL=30
