# V3S default configuration
CONFIG_CHIP=v3s
CONFIG_CPU=cortex-a7

# Boot sources
CONFIG_BOOT_SDCARD=y
CONFIG_BOOT_MMC=n
CONFIG_BOOT_SPINAND=n

# Memory
CONFIG_RAM_BASE=0x00000000
CONFIG_FEL_RAM_BASE=0x00010000

# Debug
CONFIG_LOG_LEVEL=30
